/* ----- CORES ----- */
$corPrincipal: #00a86a; /* -- JADE --*/
$corComplementar: #852368; /* -- PÚRPURA --*/
$corDestaque: #233672; /* -- AZUL REAL --*/
$corNeutra: #ffdead; /* -- BRANCO NAVAJO --*/
$corClara: #ffe4e1; /* -- ROSA EMBAÇADO --*/
$corEscura: #111111; /* -- QUANTUM --*/

/* ----- FONTES DE TEXTO ----- */
$caveatFont: "Caveat", cursive;

$sedanSCFont: "Sedan SC", serif;

$specialEliteFont: "Special Elite", system-ui;

body {
  transition: background-color 0.5s;
  font: {
    background-color: $corEscura;
    family: $sedanSCFont, $specialEliteFont, $caveatFont;
    optical-sizing: auto;
    weight: 400;
    style: normal;
  }
}

.specialEliteFont {
  font-family: $specialEliteFont;
}

.caveatFont {
  font-family: $caveatFont;
}

/* ----- GLOBAL ----- */
body {
  color: $corEscura;
  overflow-x: hidden;
  margin: 0%;
}

* {
  color: $corNeutra;
  text-decoration: none;
  box-sizing: border-box;
}

/* ----- SEÇÕES ----- */

/* Header */
header {
  background-color: $corPrincipal;
  margin: 0;
  padding: 100px 0 50px 0;
  z-index: 0;
  width: 100%;
}

.wrapperHome {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  padding: 5% 4% 5% 4%;
}

header:before {
  content: url(../images/site.svg);
  display: block;
  position: absolute;
  height: auto;
  width: 100px;
  opacity: 70%;
  top: 40px;
  left: -10px;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  z-index: 1;
}

@import "flipper";

/* Seção Sobre */

section.sobre {
  background-color: $corDestaque;
  margin: 0;
  padding: 0px 0 50px 0;
  z-index: 0;
  width: 100%;

  .container-img-profile {
    max-width: 300px;
  }

  .container-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.container-img-profile {
  border-radius: 50%;
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto;
  aspect-ratio: 1/1;
}

/* Seção Projetos */
section.projetos {
  background-color: $corPrincipal;
  margin: 0;
  padding: 50px 0 50px 0;
  z-index: 0;
  width: 100%;
}
div.gallery {
  border: 1px solid $corComplementar;
  border-width: 0.2em;
  background-color: $corEscura;
  img {
    width: 100%;
    height: 200px;
  }
}

div.gallery:hover {
  border: 1px solid $corNeutra;
}

div.desc {
  background-color: $corEscura;
  padding: 5px;
  text-align: center;
  img {
    height: 1.5em;
  }
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Seção Contato */
section.contato {
  background-color: $corEscura;
  margin: 0;
  padding: 50px 0 50px 0;
  z-index: 0;
  width: 100%;

  .container-form {
    width: 90%;
  }
  form .field {
    margin-bottom: -10px;
  }
  form label,
  form input,
  form textarea {
    border: 2px solid rgba(72, 216, 164, 0);
    width: 100%;
    display: block;
    padding: 1.2rem 0.6rem 0.4rem;
  }
  form input,
  form textarea {
    border: 2px solid rgba(72, 216, 164, 0);
    width: 100%;
    display: block;
    padding: 1.2rem 0.6rem 0.4rem;
  }
  form label::placeholder,
  form input::placeholder,
  form textarea::placeholder {
    color: $corClara;
  }
  form label:required,
  form input:required,
  form textarea:required {
    outline: none;
    box-shadow: none;
  }
  form label:required:invalid,
  form input:required:invalid,
  form textarea:required:invalid {
    box-shadow: 2px 2px $corComplementar;
  }
  form textarea {
    resize: none;
    height: 150px;
  }
  form label {
    pointer-events: none;
    height: 26px;
    color: $corDestaque;
    transform: translateY(-67px);
    transition: color 0.2s ease, font-size 0.2s ease;
    transition: transform 0.2s ease, color 0.2s ease, font-size 0.2s ease;
    transition: transform 0.2s ease, color 0.2s ease, font-size 0.2s ease;
  }
  form label.message {
    transform: translateY(-156px);
  }
  form label .required {
    color: $corComplementar;
  }
  form input:focus,
  form textarea:focus {
    border: 2px solid $corPrincipal;
  }
  form input:focus::placeholder,
  form textarea:focus::placeholder {
    color: $corEscura;
  }
  form input:focus ~ label,
  form input:valid ~ label,
  form textarea:focus ~ label,
  form textarea:valid ~ label {
    font-size: 0.7rem;
    color: #48d8a4;
  }
  form input:focus ~ label,
  form input:valid ~ label {
    transform: translateY(-80px);
  }
  form textarea:focus ~ label,
  form textarea:valid ~ label {
    transform: translateY(-168px);
  }
}

.btn {
  margin-bottom: 7px;
  background-color: $corPrincipal;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1.5rem 1rem;
  border: none;
  margin-right: 5px;
  transition: all 300ms ease-out;

  span {
    top: 8px;
    position: relative;
    right: 0;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  i {
    width: 1.8rem;
    opacity: 0;
    position: absolute;
    top: 28%;
    right: 20px;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    will-change: right, opacity;
  }
}

.btn:hover {
  background-color: $corComplementar;
  padding: 0.5rem 1.8rem 1rem;
  span {
    right: 0.8rem;
  }
  i {
    opacity: 1;
    right: 0;
  }
}

/* Footer */

.wrapperFooter {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

footer {
  text-align: center;
  background-color: $corComplementar;
  padding: 25px 0 20px;
}

footer p {
  margin: 0;
  font-size: 0.76rem;
}

/* ----- DIVISORIAS ----- */

.angle {
  position: relative;
}

.angle:after {
  content: "";
  position: absolute;
  top: -1px;
  z-index: 0;
}

.angle1,
.angle1:after {
  height: 80px;
  width: 100%;
}

.angle1 {
  background-color: $corDestaque;
}

.angle1:after {
  background-color: $corPrincipal;
  clip-path: polygon(
    100% 100%,
    100% 0%,
    0% 0%,
    0% 14%,
    14% 14%,
    14% 100%,
    18% 100%,
    18% 14%,
    33% 14%,
    33% 100%,
    66% 100%,
    66% 86%,
    35% 86%,
    35% 57%,
    50% 57%,
    50% 43%,
    35% 43%,
    35% 14%,
    66% 14%,
    66% 100%,
    68% 100%,
    68% 14%,
    83% 100%,
    98% 14%,
    98% 100%
  );
}

.angle2,
.angle2:after {
  height: 80px;
  width: 100%;
}

.angle2 {
  background-color: $corPrincipal;
}

.angle2:after {
  background-color: $corDestaque;
  clip-path: polygon(
    100% 100%,
    100% 0%,
    0% 0%,
    0% 14%,
    14% 14%,
    14% 100%,
    18% 100%,
    18% 14%,
    33% 14%,
    33% 100%,
    66% 100%,
    66% 86%,
    35% 86%,
    35% 57%,
    50% 57%,
    50% 43%,
    35% 43%,
    35% 14%,
    66% 14%,
    66% 100%,
    68% 100%,
    68% 14%,
    83% 100%,
    98% 14%,
    98% 100%
  );
}

.angle3,
.angle3:after {
  height: 80px;
  width: 100%;
}

.angle3 {
  background-color: $corEscura;
}

.angle3:after {
  background-color: $corPrincipal;
  clip-path: polygon(
    100% 100%,
    100% 0%,
    0% 0%,
    0% 14%,
    14% 14%,
    14% 100%,
    18% 100%,
    18% 14%,
    33% 14%,
    33% 100%,
    66% 100%,
    66% 86%,
    35% 86%,
    35% 57%,
    50% 57%,
    50% 43%,
    35% 43%,
    35% 14%,
    66% 14%,
    66% 100%,
    68% 100%,
    68% 14%,
    83% 100%,
    98% 14%,
    98% 100%
  );
}

/* ----- MENU ----- */
.menuFlutuante {
  background-color: $corEscura;
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 9;
  padding: 1%;
}
.menuFlutuante:hover {
  color: $corComplementar;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  a:hover {
    color: #f1f1f1;
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

/* AJUSTES DE MEDIA */
@media (min-width: 700px) {
  section.sobre .container-text {
    width: 70%;
    padding-left: 5%;
    text-align: justify;
  }
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
