@charset "UTF-8";
/* ----- CORES ----- */
/* -- JADE --*/
/* -- PÚRPURA --*/
/* -- AZUL REAL --*/
/* -- BRANCO NAVAJO --*/
/* -- ROSA EMBAÇADO --*/
/* -- QUANTUM --*/
/* ----- FONTES DE TEXTO ----- */
body {
  transition: background-color 0.5s;
  font-background-color: #111111;
  font-family: "Sedan SC", serif, "Special Elite", system-ui, "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.specialEliteFont {
  font-family: "Special Elite", system-ui;
}

.caveatFont {
  font-family: "Caveat", cursive;
}

/* ----- GLOBAL ----- */
body {
  color: #111111;
  overflow-x: hidden;
  margin: 0%;
}

* {
  color: #ffdead;
  text-decoration: none;
  box-sizing: border-box;
}

/* ----- SEÇÕES ----- */
/* Header */
header {
  background-color: #00a86a;
  margin: 0;
  padding: 100px 0 50px 0;
  z-index: 0;
  width: 100%;
}

.wrapperHome {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  padding: 5% 4% 5% 4%;
}

header:before {
  content: url(../images/site.svg);
  display: block;
  position: absolute;
  height: auto;
  width: 100px;
  opacity: 70%;
  top: 40px;
  left: -10px;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  z-index: 1;
}

.container-flip {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 37px;
}

.container-flip span {
  position: absolute;
  left: 0%;
  white-space: nowrap;
  opacity: 0;
  -webkit-animation: rotate-word 20s linear infinite;
  animation: rotate-word 20s linear infinite;
}

.container-flip span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.container-flip span:nth-child(3) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.container-flip span:nth-child(4) {
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

.container-flip span:nth-child(5) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.container-flip span:nth-child(6) {
  -webkit-animation-delay: 12.5s;
  animation-delay: 12.5s;
}

.container-flip span:nth-child(7) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

.container-flip span:nth-child(8) {
  -webkit-animation-delay: 17.5s;
  animation-delay: 17.5s;
}

.flip {
  width: 100%;
}

.flip::after {
  content: "";
  display: inline-block;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  background-size: cover;
  width: 20px;
  height: 20px;
}

@keyframes rotate-word {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  19% {
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Seção Sobre */
section.sobre {
  background-color: #233672;
  margin: 0;
  padding: 0px 0 50px 0;
  z-index: 0;
  width: 100%;
}
section.sobre .container-img-profile {
  max-width: 300px;
}
section.sobre .container-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.container-img-profile {
  border-radius: 50%;
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto;
  aspect-ratio: 1/1;
}

/* Seção Projetos */
section.projetos {
  background-color: #00a86a;
  margin: 0;
  padding: 50px 0 50px 0;
  z-index: 0;
  width: 100%;
}

div.gallery {
  border: 1px solid #852368;
  border-width: 0.2em;
  background-color: #111111;
}
div.gallery img {
  width: 100%;
  height: 200px;
}

div.gallery:hover {
  border: 1px solid #ffdead;
}

div.desc {
  background-color: #111111;
  padding: 5px;
  text-align: center;
}
div.desc img {
  height: 1.5em;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Seção Contato */
section.contato {
  background-color: #111111;
  margin: 0;
  padding: 50px 0 50px 0;
  z-index: 0;
  width: 100%;
}
section.contato .container-form {
  width: 90%;
}
section.contato form .field {
  margin-bottom: -10px;
}
section.contato form label,
section.contato form input,
section.contato form textarea {
  border: 2px solid rgba(72, 216, 164, 0);
  width: 100%;
  display: block;
  padding: 1.2rem 0.6rem 0.4rem;
}
section.contato form input,
section.contato form textarea {
  border: 2px solid rgba(72, 216, 164, 0);
  width: 100%;
  display: block;
  padding: 1.2rem 0.6rem 0.4rem;
}
section.contato form label::placeholder,
section.contato form input::placeholder,
section.contato form textarea::placeholder {
  color: #ffe4e1;
}
section.contato form label:required,
section.contato form input:required,
section.contato form textarea:required {
  outline: none;
  box-shadow: none;
}
section.contato form label:required:invalid,
section.contato form input:required:invalid,
section.contato form textarea:required:invalid {
  box-shadow: 2px 2px #852368;
}
section.contato form textarea {
  resize: none;
  height: 150px;
}
section.contato form label {
  pointer-events: none;
  height: 26px;
  color: #233672;
  transform: translateY(-67px);
  transition: color 0.2s ease, font-size 0.2s ease;
  transition: transform 0.2s ease, color 0.2s ease, font-size 0.2s ease;
  transition: transform 0.2s ease, color 0.2s ease, font-size 0.2s ease;
}
section.contato form label.message {
  transform: translateY(-156px);
}
section.contato form label .required {
  color: #852368;
}
section.contato form input:focus,
section.contato form textarea:focus {
  border: 2px solid #00a86a;
}
section.contato form input:focus::placeholder,
section.contato form textarea:focus::placeholder {
  color: #111111;
}
section.contato form input:focus ~ label,
section.contato form input:valid ~ label,
section.contato form textarea:focus ~ label,
section.contato form textarea:valid ~ label {
  font-size: 0.7rem;
  color: #48d8a4;
}
section.contato form input:focus ~ label,
section.contato form input:valid ~ label {
  transform: translateY(-80px);
}
section.contato form textarea:focus ~ label,
section.contato form textarea:valid ~ label {
  transform: translateY(-168px);
}

.btn {
  margin-bottom: 7px;
  background-color: #00a86a;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1.5rem 1rem;
  border: none;
  margin-right: 5px;
  transition: all 300ms ease-out;
}
.btn span {
  top: 8px;
  position: relative;
  right: 0;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.btn i {
  width: 1.8rem;
  opacity: 0;
  position: absolute;
  top: 28%;
  right: 20px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.btn:hover {
  background-color: #852368;
  padding: 0.5rem 1.8rem 1rem;
}
.btn:hover span {
  right: 0.8rem;
}
.btn:hover i {
  opacity: 1;
  right: 0;
}

/* Footer */
.wrapperFooter {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

footer {
  text-align: center;
  background-color: #852368;
  padding: 25px 0 20px;
}

footer p {
  margin: 0;
  font-size: 0.76rem;
}

/* ----- DIVISORIAS ----- */
.angle {
  position: relative;
}

.angle:after {
  content: "";
  position: absolute;
  top: -1px;
  z-index: 0;
}

.angle1,
.angle1:after {
  height: 80px;
  width: 100%;
}

.angle1 {
  background-color: #233672;
}

.angle1:after {
  background-color: #00a86a;
  clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 14%, 14% 14%, 14% 100%, 18% 100%, 18% 14%, 33% 14%, 33% 100%, 66% 100%, 66% 86%, 35% 86%, 35% 57%, 50% 57%, 50% 43%, 35% 43%, 35% 14%, 66% 14%, 66% 100%, 68% 100%, 68% 14%, 83% 100%, 98% 14%, 98% 100%);
}

.angle2,
.angle2:after {
  height: 80px;
  width: 100%;
}

.angle2 {
  background-color: #00a86a;
}

.angle2:after {
  background-color: #233672;
  clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 14%, 14% 14%, 14% 100%, 18% 100%, 18% 14%, 33% 14%, 33% 100%, 66% 100%, 66% 86%, 35% 86%, 35% 57%, 50% 57%, 50% 43%, 35% 43%, 35% 14%, 66% 14%, 66% 100%, 68% 100%, 68% 14%, 83% 100%, 98% 14%, 98% 100%);
}

.angle3,
.angle3:after {
  height: 80px;
  width: 100%;
}

.angle3 {
  background-color: #111111;
}

.angle3:after {
  background-color: #00a86a;
  clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 14%, 14% 14%, 14% 100%, 18% 100%, 18% 14%, 33% 14%, 33% 100%, 66% 100%, 66% 86%, 35% 86%, 35% 57%, 50% 57%, 50% 43%, 35% 43%, 35% 14%, 66% 14%, 66% 100%, 68% 100%, 68% 14%, 83% 100%, 98% 14%, 98% 100%);
}

/* ----- MENU ----- */
.menuFlutuante {
  background-color: #111111;
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 9;
  padding: 1%;
}

.menuFlutuante:hover {
  color: #852368;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* AJUSTES DE MEDIA */
@media (min-width: 700px) {
  section.sobre .container-text {
    width: 70%;
    padding-left: 5%;
    text-align: justify;
  }
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
