@charset "UTF-8";
/* ----- CORES ----- */
/* -- JADE --*/
/* -- PÚRPURA --*/
/* -- AZUL REAL --*/
/* -- BRANCO NAVAJO --*/
/* -- ROSA EMBAÇADO --*/
/* -- QUANTUM --*/
/* ----- FONTES DE TEXTO ----- */
body {
  font-family: "Sedan SC", serif, "Special Elite", system-ui, "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.specialEliteFont {
  font-family: "Special Elite", system-ui;
}

.caveatFont {
  font-family: "Caveat", cursive;
}

/* ----- GLOBAL ----- */
body {
  color: #111111;
  overflow-x: hidden;
  margin: 0%;
}

* {
  color: #ffdead;
  text-decoration: none;
}

/* ----- SEÇÕES ----- */
/* Header */
header {
  background-color: #00a86a;
  margin: 0;
  padding: 100px 0 50px 0;
  z-index: 0;
  width: 100%;
}

.wrapperHome {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  padding: 5% 4% 5% 4%;
}

header:before {
  content: url(../images/site.svg);
  display: block;
  position: absolute;
  height: auto;
  width: 100px;
  opacity: 70%;
  top: 40px;
  left: -10px;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  z-index: 1;
}

.container-flip {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 37px;
}

.container-flip span {
  position: absolute;
  left: 0%;
  white-space: nowrap;
  opacity: 0;
  -webkit-animation: rotate-word 20s linear infinite;
  animation: rotate-word 20s linear infinite;
}

.container-flip span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.container-flip span:nth-child(3) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.container-flip span:nth-child(4) {
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

.container-flip span:nth-child(5) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.container-flip span:nth-child(6) {
  -webkit-animation-delay: 12.5s;
  animation-delay: 12.5s;
}

.container-flip span:nth-child(7) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

.container-flip span:nth-child(8) {
  -webkit-animation-delay: 17.5s;
  animation-delay: 17.5s;
}

.flip {
  width: 100%;
}

.flip::after {
  content: "";
  display: inline-block;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  background-size: cover;
  width: 20px;
  height: 20px;
}

@keyframes rotate-word {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  19% {
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Seção Sobre */
section.sobre {
  background-color: #4169e1;
  margin: 0;
  padding: 100px 0 50px 0;
  z-index: 0;
  width: 100%;
}

.container-img-profile {
  border-radius: 50%;
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto;
  aspect-ratio: 1/1;
}

section.sobre .container-img-profile {
  max-width: 300px;
}

section.sobre .container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* Seção Contato */
section.contato {
  background-color: #111111;
  margin: 0;
  padding: 100px 0 50px 0;
  z-index: 0;
  width: 100%;
}

section.contato .container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

section.contato .container-form {
  width: 62%;
}

section.contato form .field {
  margin-bottom: -10px;
}

section.contato form label,
section.contato form input,
section.contato form textarea {
  border: 2px solid rgba(72, 216, 164, 0);
  width: 100%;
  display: block;
  padding: 1.2rem 0.6rem 0.4rem;
}

section.contato form label::-webkit-input-placeholder,
section.contato form input::-webkit-input-placeholder,
section.contato form textarea::-webkit-input-placeholder {
  color: white;
}

section.contato form label:-ms-input-placeholder,
section.contato form input:-ms-input-placeholder,
section.contato form textarea:-ms-input-placeholder {
  color: white;
}

section.contato form label::-ms-input-placeholder,
section.contato form input::-ms-input-placeholder,
section.contato form textarea::-ms-input-placeholder {
  color: white;
}

section.contato form label::placeholder,
section.contato form input::placeholder,
section.contato form textarea::placeholder {
  color: white;
}

section.contato form label:required,
section.contato form input:required,
section.contato form textarea:required {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section.contato form label:required:invalid,
section.contato form input:required:invalid,
section.contato form textarea:required:invalid {
  -webkit-box-shadow: 2px 2px #f0535d;
  box-shadow: 2px 2px #f0535d;
}

section.contato form textarea {
  resize: none;
  height: 150px;
}

section.contato form label {
  pointer-events: none;
  height: 26px;
  color: #727272;
  -webkit-transform: translateY(-67px);
  transform: translateY(-67px);
  -webkit-transition: color 0.2s ease, font-size 0.2s ease, -webkit-transform 0.2s ease;
  transition: color 0.2s ease, font-size 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, color 0.2s ease, font-size 0.2s ease;
  transition: transform 0.2s ease, color 0.2s ease, font-size 0.2s ease, -webkit-transform 0.2s ease;
}

section.contato form label.message {
  -webkit-transform: translateY(-156px);
  transform: translateY(-156px);
}

section.contato form label .required {
  color: #f0535d;
}

section.contato form input:focus,
section.contato form textarea:focus {
  border: 2px solid #48d8a4;
}

section.contato form input:focus::-webkit-input-placeholder,
section.contato form textarea:focus::-webkit-input-placeholder {
  color: #3f3f3f;
}

section.contato form input:focus:-ms-input-placeholder,
section.contato form textarea:focus:-ms-input-placeholder {
  color: #3f3f3f;
}

section.contato form input:focus::-ms-input-placeholder,
section.contato form textarea:focus::-ms-input-placeholder {
  color: #3f3f3f;
}

section.contato form input:focus::placeholder,
section.contato form textarea:focus::placeholder {
  color: #3f3f3f;
}

section.contato form input:focus ~ label,
section.contato form input:valid ~ label,
section.contato form textarea:focus ~ label,
section.contato form textarea:valid ~ label {
  font-size: 0.7rem;
  color: #48d8a4;
}

section.contato form input:focus ~ label,
section.contato form input:valid ~ label {
  -webkit-transform: translateY(-80px);
  transform: translateY(-80px);
}

section.contato form textarea:focus ~ label,
section.contato form textarea:valid ~ label {
  -webkit-transform: translateY(-168px);
  transform: translateY(-168px);
}

.btn {
  margin-bottom: 7px;
  background-color: #00a86a;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1.5rem 1rem;
  border: none;
  margin-right: 5px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.btn:hover {
  background-color: #852368;
  padding: 0.5rem 1.8rem 1rem;
}

.btn:hover span {
  right: 0.8rem;
}

.btn span {
  top: 8px;
  position: relative;
  right: 0;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.btn i {
  width: 1.8rem;
  opacity: 0;
  position: absolute;
  top: 28%;
  right: 20px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.btn:hover i {
  opacity: 1;
  right: 0;
}

.container-social-i {
  max-width: 500px;
}

.container-social-i ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-social-i ul a {
  color: #394ff4;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.container-social-i ul a:hover {
  color: #f0535d;
  background-color: transparent;
}

.container-social-i ul li {
  width: 22px;
  height: 22px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.container-social-i ul li:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.container-social-i ul svg {
  width: 20px;
  height: 20px;
  fill: #394ff4;
}

.container-social-i ul svg:hover {
  fill: #f0535d;
}

/* Footer */
.wrapperFooter {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

footer {
  text-align: center;
  background-color: #852368;
  padding: 25px 0 20px;
}

footer p {
  margin: 0;
  font-size: 0.76rem;
}

/* ----- DIVISORIAS ----- */
.angle {
  position: relative;
}

.angle:after {
  content: "";
  position: absolute;
  z-index: 0;
}

.angle1,
.angle1:after {
  height: 80px;
  width: 100%;
}

.angle1 {
  background-color: #4169e1;
}

.angle1:after {
  background-color: #00a86a;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
  clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 14%, 14% 14%, 14% 100%, 18% 100%, 18% 14%, 33% 14%, 33% 100%, 66% 100%, 66% 86%, 35% 86%, 35% 57%, 50% 57%, 50% 43%, 35% 43%, 35% 14%, 66% 14%, 66% 100%, 68% 100%, 68% 14%, 83% 100%, 98% 14%, 98% 100%);
}

.angle2,
.angle2:after {
  height: 80px;
  width: 100%;
}

.angle2 {
  background-color: #111111;
}

.angle2:after {
  background-color: #4169e1;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
  clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 14%, 14% 14%, 14% 100%, 18% 100%, 18% 14%, 33% 14%, 33% 100%, 66% 100%, 66% 86%, 35% 86%, 35% 57%, 50% 57%, 50% 43%, 35% 43%, 35% 14%, 66% 14%, 66% 100%, 68% 100%, 68% 14%, 83% 100%, 98% 14%, 98% 100%);
}

/* ----- MENU ----- */
div.stickyMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

ul.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111111;
}

ul.navBar > li {
  float: left;
  border-left: 1px solid #ffe4e1;
}

ul.navBar > li a {
  display: block;
  color: #ffe4e1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navBar > li img {
  display: block;
  padding: 14px 16px;
}

ul.navBar > li a:hover:not(.active) {
  background-color: #852368;
}

ul.navBar > li > a.active {
  background-color: #4169e1;
}

/* AJUSTES DE MEDIA */
@media (min-width: 600px) {
  header {
    padding-top: 120px;
    padding-bottom: 70px;
  }
}
@media (min-width: 600px) {
  header {
    padding-bottom: 100px;
  }
}
@media (min-width: 520px) {
  .angle1,
  .angle1:after {
    height: 120px;
  }
}
@media (min-width: 900px) {
  .angle1,
  .angle1:after {
    height: 160px;
  }
}
@media (min-width: 700px) {
  section.sobre .container-text {
    width: 70%;
    padding-left: 5%;
    margin-right: 20%;
  }
}
@media (min-width: 800px) {
  section.contato .container-social {
    width: 37%;
    padding: 188px 0 0 35px;
  }
}
@media (min-width: 991px) {
  section.contato .container-social {
    padding: 157px 0 0 40px;
  }
}
@media (min-width: 1006px) {
  section.contato .container-social {
    padding: 126px 0 0 45px;
  }
}

/*# sourceMappingURL=index.css.map */
